.hdl_checker/*
ExperimentsWithFPGA/4/uart_library/work/*
ExperimentsWithFPGA/4/uart_library/vsim.wlf

# For D flip-flop purposes
learningVerilog/Dflip-flop/transcript
learningVerilog/Dflip-flop/work/*
learningVerilog/Dflip-flop/vsim.wlf

# For JK flip-flop purposes
learningVerilog/JKflip-flop/transcript
learningVerilog/JKflip-flop/vsim.wlf
learningVerilog/JKflip-flop/work/*

